* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none; // 清除 a标签的 手指 触摸 高亮 
    -webkit-tap-highlight-color: transparent;
}

// 清除 input标签的一些 额外的样式 
input {
    border: none;
    outline: none;
    -webkit-appearance: none;
}

// 快速浮动
.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::before,
.clearfix::after {
    content: '';
    display: block;
    line-height: 0;
    height: 0;
    visibility: hidden;
    clear: both;
}

// 兼容ie 
.clearfix {
    zoom: 1;
}

// 添加公共的 边框类
// 方便设置边框
.bdt {
    border-top: 1px solid #E0E0E0;
}

.bdb {
    border-bottom: 1px solid #E0E0E0;
}

.bdr {
    border-right: 1px solid #E0E0E0;
}

.bdl {
    border-left: 1px solid #E0E0E0;
}